KDAF_ENV=local
KDAF_LOG_LEVEL=INFO

KDAF_METADATA_DB_HOST=localhost
KDAF_METADATA_DB_PORT=5432
KDAF_METADATA_DB_NAME=kdaf_metadata
KDAF_METADATA_DB_USER=kdaf_metadata
KDAF_METADATA_DB_PASSWORD=kdaf_metadata_password

KDAF_DWH_DB_HOST=localhost
KDAF_DWH_DB_PORT=5433
KDAF_DWH_DB_NAME=kdaf_financial_dwh
KDAF_DWH_DB_USER=kdaf_dwh
KDAF_DWH_DB_PASSWORD=kdaf_dwh_password

KDAF_NEO4J_URI=bolt://localhost:7687
KDAF_NEO4J_USER=neo4j
KDAF_NEO4J_PASSWORD=kdaf_neo4j_password
KDAF_NEO4J_DATABASE=neo4j
